1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. For numbers which are multiples of both three and five print MickeyMouse

b) Put the result in a tuple and substitute Mickey with Donald and Mouse with Duck

In [23]:
a=[]
for i in range(1,101): #1 e 100 compresi
    if i%3 == 0 and i%5 == 0 : 
        a.append("DonaldDuck")
        print("MickeyMouse")
    elif i%3 == 0 : 
        a.append("Donald")
        print("Mickey")
    elif i%5 == 0 : 
        a.append("Duck")
        print("Mouse")
    else:
        a.append(i)
        print(i)
a=tuple(a)
print(a)

1
2
Mickey
4
Mouse
Mickey
7
8
Mickey
Mouse
11
Mickey
13
14
MickeyMouse
16
17
Mickey
19
Mouse
Mickey
22
23
Mickey
Mouse
26
Mickey
28
29
MickeyMouse
31
32
Mickey
34
Mouse
Mickey
37
38
Mickey
Mouse
41
Mickey
43
44
MickeyMouse
46
47
Mickey
49
Mouse
Mickey
52
53
Mickey
Mouse
56
Mickey
58
59
MickeyMouse
61
62
Mickey
64
Mouse
Mickey
67
68
Mickey
Mouse
71
Mickey
73
74
MickeyMouse
76
77
Mickey
79
Mouse
Mickey
82
83
Mickey
Mouse
86
Mickey
88
89
MickeyMouse
91
92
Mickey
94
Mouse
Mickey
97
98
Mickey
Mouse
(1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'DonaldDuck', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'DonaldDuck', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'DonaldDuck', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'DonaldDuck', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'DonaldDuck', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'DonaldDuck', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [35]:
#I can do the same with one line x,y = y, x
def swap(x,y):
    return y,x
x=('a','b')
y=3
x,y = swap(x,y)
print(x,y)

3 ('a', 'b')

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [50]:
def distance(u,v):
    dist = ((u[0]-v[0])**2 +(u[1]-v[1])**2)**(1/2)
    return dist
u=(3,0)
v=(0,4)
print("the distance is", distance(u,v))

the distance is 5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [1]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
#sort and ignore differences capitalization
stringa=sorted(s.lower()) 
#print(stringa)
for l in range(0,len(stringa)) :
    if stringa[l-1] != stringa[l]:
        print("we count the character '",stringa[l],"' ", stringa.count(stringa[l]), " times")

we count the character '   '  41  times
we count the character ' . '  2  times
we count the character ' 0 '  2  times
we count the character ' 1 '  2  times
we count the character ' a '  7  times
we count the character ' b '  5  times
we count the character ' c '  3  times
we count the character ' d '  3  times
we count the character ' e '  22  times
we count the character ' f '  10  times
we count the character ' g '  1  times
we count the character ' h '  9  times
we count the character ' i '  14  times
we count the character ' k '  2  times
we count the character ' l '  6  times
we count the character ' m '  12  times
we count the character ' n '  10  times
we count the character ' o '  13  times
we count the character ' p '  8  times
we count the character ' r '  17  times
we count the character ' s '  9  times
we count the character ' t '  19  times
we count the character ' u '  9  times
we count the character ' v '  2  times
we count the character ' w '  2  times
we count the character ' y '  2  times

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [3]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

def determine(l):
    l.sort()
    d=0
    tot=0
    for s in range(0,len(l)): 
        if l[s] != l[s-1]: 
            d=l.count(l[s])
         #  print("the number",l[s], "repeat", d,"times")
        if d==1:
          # print(l[s])
            tot=tot+1
    print("there is",tot, "unique number" ) #unique number= number who is repeated one time
determine(l)

there is 37 unique number

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [5]:
def square(x):
    return x**2
def cube(x):
    return x**3
def sixp (x):
    return cube(square(x))

print(sixp(3))

729

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [1]:
#for loop
cubes=[]
for n in range(0,11): #0 and 10 included
    cubes.append(n**3)
print(cubes)

#list comprehension
cubes=[n**3 for n in range(0,11)]
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [22]:
n=100
#find the triples
d=[(ap,b,c) for ap in range(1,n+1) for b in range(ap,n+1) for c in range(b,n+1)  if ap**2 + b**2 == c**2  ]
#find the primitive one: 
q=[]
for q in list(d): #I'm looping over a copy of the list so I can delete the not primitive triples
    v=2
    for v in range(2,q[0]) :
        if q[0]%v==0 and q[1]%v==0 and q[2]%v== 0:
            d.remove(q)  
            break

print(tuple(d))

((3, 4, 5), (5, 12, 13), (7, 24, 25), (8, 15, 17), (9, 40, 41), (11, 60, 61), (12, 35, 37), (13, 84, 85), (16, 63, 65), (20, 21, 29), (28, 45, 53), (33, 56, 65), (36, 77, 85), (39, 80, 89), (48, 55, 73), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [24]:
def normalize(b):
    try:
        s=sum(b)
        norm = [float(i)/s for i in b]
        b=tuple(norm)
    except ZeroDivisionError:
        print("can' t normalize a null tuple")
    return b

b=(1,45,4,66,321,234)
print(normalize(b))

(0.0014903129657228018, 0.06706408345752608, 0.005961251862891207, 0.09836065573770492, 0.4783904619970194, 0.34873323397913564)